################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/back/Ferro.Api/.vs
/back/Ferro.Api/obj
/back/Ferro.Api/bin
